.op-emoji-reactions--gap
  row-gap: var(--base-size-4, 4px)

.op-reactions-button .Button-label
  margin-right: var(--control-small-gap, 0.25rem)

.op-reactions-button:disabled
  cursor: default
  background-color: transparent
