<%#-- copyright
OpenProject is an open source project management software.
Copyright (C) the OpenProject GmbH

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See COPYRIGHT and LICENSE files for more details.

++#%>

<% html_title t(:label_automatic_authentication) %>
<%= stylesheet_link_tag "auto_auth", media: "all" %>
<%= call_hook :view_account_auto_auth_top %>

<h1>Auto Auth</h1>

<div class="auto-login-container">
  <div class="loading-indicator">
    <div class="loading-indicator--dot" style='background-color: #aaa'></div>
    <div class="loading-indicator--dot" style='background-color: #aaa'></div>
    <div class="loading-indicator--dot" style='background-color: #aaa'></div>
  </div>
</div>

<%# Use javascript_include_tag to load external JS file %>
<%= javascript_include_tag "auto_auth", data: { redirect_path: root_path } %>

<%= call_hook :view_account_auto_auth_bottom %>
