<div class="calendar-time-entry-event--highlighting __hl_background_status_<%= time_entry.work_package.status_id %>"></div>
<div class="calendar-time-entry-event--content">
  <div class="calendar-time-entry-event--content-subject"><%= time_entry.work_package.subject %></div>
</div>
